# ==========================
# Virtual Environments
# ==========================
abdullah/
venv/
.venv/
env/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Test & Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary Files
# ==========================
requirements_clean.txt
fix_requirements.py